src/test/resources/CoordinationDelegateGenerator/news.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--
Copyright 2015 The CHOReVOLUTION project
 
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://it.softeco.chorevolution.smt/news" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewsService" targetNamespace="http://it.softeco.chorevolution.smt/news">
  <types>
    <xsd:schema targetNamespace="http://it.softeco.chorevolution.smt/news">	
	  	<xsd:element name="getInfoNewsRequest" type="tns:getInfoNewsRequest"/>
	  	<xsd:element name="getInfoNewsResponse" type="tns:getInfoNewsResponse"/>     
        <xsd:complexType name="getInfoNewsRequest">    
  		<xsd:sequence>
  				<xsd:element name="session" type="xsd:string"/>
        		<xsd:element name="type" type="xsd:string"/>
        </xsd:sequence>
	    </xsd:complexType>
      <xsd:complexType name="getInfoNewsResponse">
        <xsd:sequence>
        		<xsd:element name="session" type="xsd:string"/>
        		<xsd:element maxOccurs="unbounded" minOccurs="0" name="InfoItem" type="tns:InfoItemType"/>
        </xsd:sequence>
      </xsd:complexType>  
      <xsd:complexType name="InfoItemType">
          <xsd:sequence>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="issueDate" type="xsd:string"/>
            <xsd:element name="text" type="xsd:string"/>
        <xsd:element name="validityDate" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>              
    </xsd:schema>
  </types>
  <message name="getInfoNewsRequest">
    <part element="tns:getInfoNewsRequest" name="parameters">
    </part>
  </message>
  <message name="getInfoNewsResponse">
    <part element="tns:getInfoNewsResponse" name="parameters">
    </part>
  </message>
  <portType name="NewsPT">
    <operation name="getInfo">
      <input message="tns:getInfoNewsRequest" wsam:Action="http://it.softeco.chorevolution.smt/news/getInfoNewsRequest">
    </input>
      <output message="tns:getInfoNewsResponse" wsam:Action="http://it.softeco.chorevolution.smt/news/getInfoNewsResponse">
    </output>
    </operation>
  </portType>
  <binding name="NewsBinding" type="tns:NewsPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="NewsService">
    <port binding="tns:NewsBinding" name="NewsPort">
      <soap:address location="http://localhost:9090/news/news"/>
    </port>
  </service>
</definitions>
